<%# <div> %>
  <%#   <label for="price" class="block text-sm font-medium text-gray-700">Price</label> %>
  <%#   <div class="relative mt-1 rounded-md shadow-sm"> %>
    <%#     <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"> %>
      <%#       <span class="text-gray-500 sm:text-sm"> %>
        <%#         $ %>
        <%#       </span> %>
      <%#     </div> %>
    <%#     <input type="text" name="price" id="price" class="block w-full pr-12 border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 pl-7 sm:text-sm rounded-md" placeholder="0.00"> %>
    <%#     <div class="absolute inset-y-0 right-0 flex items-center"> %>
      <%#       <label for="currency" class="sr-only">Currency</label> %>
      <%#       <select id="currency" name="currency" class="h-full py-0 pl-2 text-gray-500 bg-transparent border-transparent focus:ring-indigo-500 focus:border-indigo-500 pr-7 sm:text-sm rounded-md"> %>
        <%#         <option>USD</option> %>
        <%#         <option>CAD</option> %>
        <%#         <option>EUR</option> %>
        <%#       </select> %>
      <%#     </div> %>
    <%#   </div> %>
  <%# </div> %>
<%# .error-supplier %>
<%#   = render 'shared/errors', resource: @supplier %>

<%= form_for @supplier do |f| %>
  <div class="px-4 py-5 bg-white sm:p-6">
    <div class="grid grid-cols-6 gap-6">
      <div class="col-span-6 sm:col-span-3">
        <%= f.label :name, class: 'block text-sm font-medium text-gray-700' %>
        <%= f.text_field :name, class: 'field_input' %>
        <%= f.submit t('.save'), class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

