/ = render @suppliers
/ <%= javascript_pack_tag 'hello_vue' %>
/ <h1>Suppliers#index</h1>
/ <p>Find me in app/views/suppliers/index.html.erb</p>
/ <h1>This is static#index</h1>
/ <div class="w-3/4 p-4 mx-auto bg-red-500">
/   <p class="text-2xl text-white">Test test test</p>
/ </div>
/ <p> <%= t '.test'%> </p>
